h2 {
    font-size: 48px;
    color: #D8D8D8;
    text-align: center;

}

.profiles {
    margin: 140px 0;

    h2 {
        margin-bottom: 40px;
        background: -webkit-linear-gradient(30deg, #ff2a86 0%, #30f0ff 150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    :global {
        .slick-slider {
            padding-top: 40px;
        }
        .slick-arrow{
            display: none !important;
        }
    }
}